/**
 * Place your custom styles here.
 */


body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #f0f0f0;
}
